img.small {
    max-width: 100%;
    height: auto;
}

body {
    background-color: lightgray;
}


.table-responsive th:first-child {
    text-align: right;
}

.table-responsive td {
    text-align: right;
}

.table-responsive td:nth-child(1) {
    text-align: left;
}​

.table-responsive td:nth-child(2) {
    text-align: left;
}



h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightseagreen;
    width: 100%;
    font: bold;
    font-size: 24px;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightseagreen;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font: bold;
}

.col {
    width: 100%;
    height: 100%;
    margin-top: 10px;
} 

p{
    color:grey
}

.divcontent{
    background-color: white;
    border: lightgrey;
}

hr.cp {
    border: 2px solid lightseagreen;
    border-radius: 5px;
    margin-bottom: 0em;
}

.cpright {
    width:100%;
    bottom:0;
    background-color: gray;
    z-index:0;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}